.guess-container {
  width: 60%;
  margin: auto;
}
.Select {
  text-align: left;
}

.puzzle {
  button.skip-guess, input[type="submit"] {
    font-size: 1.2rem;
    margin-top: 0.25rem;
  }
}

.identity-image-container {
  min-height: 130px;
  img {
    max-width: 400px;
  }
}

img.skipped-image {
  max-height: 90px;
}
