:global {
  @import 'base';

  @import "~normalize.css/normalize";
  @import "~foundation-sites/scss/foundation";
  @import "~foundation-sites/scss/components/callout";
  @import "~foundation-sites/scss/components/close-button";
  @include foundation-grid;
  @include foundation-button;
  @include foundation-callout;
  @include foundation-close-button;

  @import "application";

  @import "puzzleStatistics";
  @import "guessInput";
  @import "puzzle";

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  div.puzzle-set {
    text-align: center;
  }

}
