/*doc
---
title: Blue
name: blue
category: Page Sections
---

```haml_example
blue page section
.blue-page-section
  .small-9.small-centered.columns
    %h2 Example Title
    %hr
    %p At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.

```

```haml_example
blue page section with title lines
.blue-page-section.title-lines
  .small-9.small-centered.columns
    %h2 Example Title
    %p At Launch, you’ll learn how to code in the most in-demand languages. We start by giving you a foundation in Rails, and then transition to other languages.

```

*/

.blue-page-section {
  @include page-section(
    $background-color: $la-blue,
    $header-color: $la-white,
    $body-color: $la-white
  );
}
